<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favaa Optic</title>
</head>
<body>

    <p>Hii {{ .Name }},</p>
    <br>
    <p>Demi alasan keamanan, jangan berikan kode ini kepada pihak mana pun, termasuk pihak yang mengaku dari otpic favaa</p>
    <p>Kode Verifikasi: {{ .Code }} </p>
    <p>Gunakan Kode ini untuk verifikasi registrasi akun favaa kamu</p>
    <p>Abarikan email ini jika kamu tidak merasa sedang melakukan permintaan registrasi</p>

    <br>
    <p>Terima Kasih</p>
    <p>Hormat Kami</p>
    <br>
    <p>Tim Favaa Optic</p>


</body>
</html>